html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(68, 68, 68);
  font-family: Roboto;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.dropable {
  padding: 4px;
  width: 250px; 
  min-height: 500px;
}

.draggable {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  min-height: 50px;
  color: white;
  }